/* Menggunakan font default bawaan sistem yang dipanggil otomatis oleh Tailwind */

/* Animasi untuk Link Navbar */
.nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #991b1b;
    /* Tailwind red-800 darker shade */
    color: #facc15;
    /* Tailwind yellow-400 */
}

/* Animasi Kartu saat di-hover */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}